---
let title = 'Books catalog';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{`StrapiAstro| ${title}`}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <header>
        <h1>Books catalog</h1>
    </header>
    <main>
        <slot/>
    </main>
</body>
</html>